@font-face
{
    font-family: 'font1';
    src: url(fontes/Omori_fonts/OMORI_GAME.ttf);
}
@font-face
{
    font-family: 'font2';
    src: url(fontes/Omori_fonts/OMORI_GAME2.ttf);
}
body
{
    background-color: white;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar 
{
    width: 0px;
}
a
{
    text-decoration: none;
}
.conteiner-geral
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.black_
{
    position: absolute;
    z-index: 4;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    animation: wha 0.3s forwards;
}
@keyframes wha
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
.something
{
    display: none;
    position: absolute;
    z-index: 5;
    height: 260px;
    animation: buu 7s infinite;
}
@keyframes buu
{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    60%{
        opacity: 0.3;
    }
    100%{
        display: none;
        opacity: 0;
    }
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    width: 100vw;
    height: 130px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;
    animation: lamp2 6s forwards;
}
@keyframes lamp2
{
    0% {
        transform: translateY(200px);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(opx);
    }
}
.logo1
{
    width: 130px;
    margin-top: 10px;
    animation: lamp1 3s linear forwards;
}
.lamp
{
    width: 75px;
    margin-top: -315px;
    cursor: url(img/cursor.png), auto;
    animation: lamp1 1.5s linear forwards;
}
@keyframes lamp1
{
    0% {
         opacity: 0;
    }
    50% {
         opacity: 0;
    }
    100% {
         opacity: 1;
    }
}
.logo2
{
    width: 100px;
    margin-top: 10px;
    animation: lamp1 3s linear forwards;
}
.bn
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: center;
    width: 100vw;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;
    animation: resto 7s linear forwards;
}
@keyframes resto
{
    0% {
         opacity: 0;
    }
    80% {
         opacity: 0;
    }
    100% {
         opacity: 1;
    }
}
.about
{
    position: relative;
    float: left;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    border: 1px solid #06000f;
    width: 70px;
    cursor: url(img/cursor.png), auto;
}
.about:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.gemaplys
{
    position: relative;
    float: left;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    border: 1px solid #06000f;
    width: 70px;
    cursor: url(img/cursor.png), auto;
}
.gemaplys:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.story
{
    position: relative;
    float: left;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    border: 1px solid #06000f;
    width: 70px;
    cursor: url(img/cursor.png), auto;
}
.story:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.team
{
    position: relative;
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    border: 1px solid #06000f;
    width: 70px;
    cursor: url(img/cursor.png), auto;
}
.team:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.bct
{
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 320px;
    background-color: #ffffff00;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    position: relative;
    animation: resto 7s linear forwards;
}
.conteiner
{
    display: flex;
}
.console
{
    width: auto;
    height: 40vh;
    max-height: 300px;
    min-height: 220px;
    max-width: 500px;
    aspect-ratio: 16 / 9;
}
.avhere
{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: -15px;
}
.here
{
    position: relative;
    font-size: 20px;
    font-family: 'font1';
}
.shops
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.steam
{
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    padding-top: 8px;
    border: 1px solid #06000f;
    width: 105px;
    cursor: url(img/cursor.png), auto;
}
.steam:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.steam_logo
{
    height: 24px;
}
.ns
{
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    padding-top: 8px;
    border: 1px solid #06000f;
    width: 105px;
    cursor: url(img/cursor.png), auto;
}
.ns:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.ns_logo
{
    height: 24px;
}
.ps
{
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 6px;
    padding-top: 9px;
    border: 1px solid #06000f;
    width: 105px;
    cursor: url(img/cursor.png), auto;
}
.ps:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.ps_logo
{
    height: 22px;
}
.xbox
{
    position: relative;
    float: left;
    text-align: center;
    align-content: center;
    background-color: #06000f;
    padding: 5px;
    padding-top: 8px;
    border: 1px solid #06000f;
    width: 105px;
    cursor: url(img/cursor.png), auto;
}
.xbox:before 
{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid #ffffff;
}
.xbox_logo
{
    height: 24px;
}
.k7
{
    width: 96vw;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    color: rgb(0 0 0);
    font-size: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    animation: resto 7s linear forwards;
}
.ws
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    color: rgb(0 0 0);
    flex-grow: 0;
    flex-shrink: 0;
    bottom: 0;
}
.ws1
{
    width: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: rgb(0 0 0);
    bottom: 0;
}
.ws2
{
    width: 165px;
    height: 95px;
    margin-top: -85px;
}
.minhoca
{
    position: static;
    align-self: flex-end;
    cursor: url(img/cursor.png), auto;
}
.portaws
{
    position: absolute;
    margin-top: -117px;
    margin-left: 5px;
}
.mewo
{
    margin-top: 80px;
}
.tapete
{
    border: 1px solid black;
    width: 130px;
    height: 95px;
    float: right;
}
.laptop
{
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
.skb
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.lenco
{
    float: right;
    margin-top: 65px;
    margin-right: -17px;
}
.final
{   
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crd
{
    font-family: 'font1';
    font-size: 1rem;
}
.c
{
    font-size: 14px;
    color: black;
    cursor: url(img/cursor.png), auto;
}
.rs
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.face
{
    margin-left: 5px;
    width: 32px;
    cursor: url(img/cursor.png), auto;
}
.twt
{
    margin-left: 5px;
    width: 32px;
    cursor: url(img/cursor.png), auto;
}
.insta
{
    margin-left: 5px;
    width: 32px;
    cursor: url(img/cursor.png), auto;
}
.ost
{
    margin-left: 5px;
    width: 32px;
    cursor: url(img/cursor.png), auto;
}
@media screen and (max-width: 64rem)
{
    @media screen and (max-height: 47.5rem)
    {
        .door
        {
            height: 20vh !important;
            min-height: 170px !important;
        }
        .console
        {
            height: 20vh !important;
            min-height: 170px !important;
        }
        .bct
        {
            max-height: 250px;
        }
    }
    .k7
    {
        width: 30rem !important;
        height: 155px !important;
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: flex-end !important;
        justify-content: center !important;
    }
    .ws
    {
        height: 105px !important;
    }
    .ws1
    {
        height: 100% !important;
    }
    .ws2
    {
        height: 100% !important;
        margin-top: 0 !important;
    }
    .portaws
    {
        position: inherit !important;
        margin-top: 0 !important;
        margin-left: -407px !important;
        bottom: auto !important;
    }
    .final
    {
        position: inherit !important;
    }
}
@media screen and (max-width: 500px)
{
    .about,
    .gemaplys,
    .story,
    .team
    {
        width: 55px;
        font-size: 0.9rem;
    }
    .about,
    .gemaplys,
    .story
    {
        margin-right: 10px !important;
    }
    .door
    {
        max-width: 360px !important;
    }
    .console
    {
        max-width: 360px !important;
    }
    .here
    {
        font-size: 1rem;
    }
    .steam,
    .ns,
    .ps,
    .xbox
    {
        width: 71px;
    }
    .steam,
    .ns,
    .ps
    {
        margin-right: 8px;
    }
    .steam_logo,
    .ns_logo,
    .xbox_logo
    {
        height: 17px;
    }
    .ps_logo
    {
        height: 15px;
    }
    .k7
    {
        width: 360px !important;
    }
    .portaws
    {
        margin-left: -287px !important;
    }
    .final
    {
        width: 360px;
    }
    .crd
    {
        font-size: 0.9rem;
    }
    .c
    {
        font-size: 11px;
    }
    .face,
    .twt,
    .insta,
    .ost
    {
        width: 28px;
    }
}
